body{
    background-color: #e6e6ff;
}
*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    color: #000066;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ccccff;
}
.container-fan{
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    background-color:white;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px grey;
}
.img-fanoff{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    height: 180px;
    width: 180px;

}
.btn-switch{
    width: 170px;
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    color: blue;
    background-color: #ccccff;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 1px 1px #8080ff;

}